{% extends 'base.html' %}

{% block title %}Главная — Садовые товарищества{% endblock %}

{% block content %}
<div class="text-center mt-5">
    <h1>Добро пожаловать на сайт садовых товариществ!</h1>
    <p class="lead">Здесь вы можете общаться на форуме, просматривать объявления и участвовать в жизни вашего товарищества.</p>
<!--    <p>Количество посещений сайта - {{total_visits}}</p>-->
    <p class="alert alert-warning text-center" role="alert" style="font-weight: bold; font-size: 1.2rem;"> Извините, если в данный момент не все функции сайта работают корректно. Мы работаем над устранением неполадок.<br>
  Если вы заметили какую-либо ошибку, пожалуйста, сообщите об этом на нашем <a href="{% url 'forum' %}">форуме</a>.</p>
</div>

{% endblock %}
