{% extends 'base.html' %}

{% block content %}
<h1>Личный кабинет</h1>




<a href="{% url 'password_change' %}" class="btn btn-outline-primary mb-3">Изменить пароль</a>

<hr>
<a href="{% url 'appeal_list' %}" class="btn btn-outline-primary mb-3">
  Ваши обращения
</a>

<hr>
{% if is_chairman_or_board %}
  <a href="{% url 'all_appeals_list' %}" class="btn btn-outline-primary mb-3">Все обращения</a>
{% endif %}

<hr>
<a href="{% url 'create_advertisement' %}" class="btn btn-outline-primary mb-3">
  Подать объявление
</a>

<hr>
{% if is_chairman_or_board %}
  <a href="{% url 'voting_overview' %}" class="btn btn-outline-primary mb-3">Результаты голосования</a>
{% endif %}



{% endblock %}

