{% extends 'base.html' %}

{% block content %}
<h1 class="text-center mb-4">Личный кабинет</h1>



<div class="d-flex justify-content-center gap-3 flex-wrap">



    <a href="{% url 'appeal_list' %}" class="btn btn-outline-primary square-btn">Ваши обращения</a>

    {% if user_role == 'chairman' or user_role == 'board_member' %}
    <a href="{% url 'all_appeals_list' %}" class="btn btn-outline-primary square-btn">Все обращения</a>
    {% endif %}


    <a href="{% url 'my_ads' %}" class="btn btn-outline-primary square-btn">Мои объявления</a>


    {% if user_role == 'chairman' or user_role == 'board_member' %}
    <a href="{% url 'voting_overview' %}" class="btn btn-outline-primary square-btn">Результаты голосования</a>
    {% endif %}

    <a href="{% url 'password_change' %}" class="btn btn-outline-primary square-btn">Изменить пароль</a>

</div>




{% endblock %}

